#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

@keyframes marqueeMove {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.marquee {
  white-space: nowrap;
  animation: marqueeMove 20s linear infinite;
}
